In [ ]:
import pandas as pd

df1 = pd.DataFrame({'id': [1, 2, 3], 'name': ['Ali', 'Veli', 'Ayşe']})
df2 = pd.DataFrame({'id': [2, 3, 4], 'score': [90, 85, 78]})

# Merge dataframes on 'id' column
result = df1.merge(df2, on='id', how='inner')

print(result)

   id  name  score
0   2  Veli     90
1   3  Ayşe     85

In [ ]:
#concat complete dataframes
df3 = pd.concat([df1, df2], axis=1)
print(df3)

   id  name  id  score
0   1   Ali   2     90
1   2  Veli   3     85
2   3  Ayşe   4     78

In [ ]:
# merge with index

df1.set_index('id').join(df2.set_index('id'))

    name  score
id
1    Ali    NaN
2   Veli   90.0
3   Ayşe   85.0

In [ ]:
#choose columns with specific data type
df4 = df3.select_dtypes(include=['int64'])
print(df4)

   id  id  score
0   1   2     90
1   2   3     85
2   3   4     78

In [ ]:
#condition
df2[df2['score']==85]

   id  score
1   3     85

In [ ]:
#sorting
df2.sort_values(by=['score'], ascending=True)

   id  score
2   4     78
1   3     85
0   2     90